# KMeans to test multiple dimensions at a time (number)

## 0. Data Loading : dataset of NOUN + ADJ

In [11]:
import pandas as pd

# WE loading
all_n_we = pd.read_csv('../Data/FlauBERT_WE/all_nouns_we.csv', index_col=0).drop(columns=["gender"])
all_a_we = pd.read_csv('../Data/FlauBERT_WE/all_adjectives_we.csv', index_col=0).drop(columns = ["gender"])

In [5]:
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score

## Nouns only

In [13]:
all_n_we['number'] = all_n_we.number.apply(lambda x: 1 if x == "singular" else 0)
normalized_noun = (all_n_we - all_n_we.min())/(all_n_we.max() - all_n_we.min())

In [15]:
dim_list_1= [str(i) for i in range(512)] # all dimensions
df_clustering_1 = pd.DataFrame(columns = ["ARI"])
ari = []

for dim in dim_list_1:

    # Clustering using Kmeans
    km = KMeans(n_clusters=2, random_state=42, n_init=10)
    km.fit(normalized_noun[dim].values.reshape(-1, 1))

    # Compute the Adjusted Rand Index: the closer to 1, the better
    ari.append(adjusted_rand_score(normalized_noun["number"], km.labels_))

df_clustering_1["ARI"] = ari
df_clustering_1.index = dim_list_1

In [16]:
top10_1 = df_clustering_1.sort_values(by = "ARI", ascending = False)
dim_top10_1 = list(top10_1.head(10).index)
top10_1.head(10)

          ARI
310  0.113546
54   0.071276
285  0.056902
288  0.052711
278  0.051007
81   0.049033
243  0.042733
359  0.042109
172  0.038981
182  0.036312

## Adjs

In [23]:
all_a_we['number'] = all_a_we.number.apply(lambda x: 1 if x == "singular" else 0)
normalized_adj = (all_a_we - all_a_we.min())/(all_a_we.max() - all_a_we.min())

In [25]:
dim_list_1= [str(i) for i in range(512)] # all dimensions
df_clustering_1 = pd.DataFrame(columns = ["ARI"])
ari = []

for dim in dim_list_1:

    # Clustering using Kmeans
    km = KMeans(n_clusters=2, random_state=42, n_init=10)
    km.fit(normalized_adj[dim].values.reshape(-1, 1))

    # Compute the Adjusted Rand Index: the closer to 1, the better
    ari.append(adjusted_rand_score(normalized_adj["number"], km.labels_))

df_clustering_1["ARI"] = ari
df_clustering_1.index = dim_list_1

In [26]:
top10_1 = df_clustering_1.sort_values(by = "ARI", ascending = False)
dim_top10_1 = list(top10_1.head(10).index)
top10_1.head(10)

          ARI
310  0.112598
54   0.074463
285  0.061454
278  0.056826
81   0.055338
288  0.051972
25   0.048156
455  0.045349
56   0.044883
495  0.044811

## Both

In [27]:
normalized_both = pd.concat([normalized_adj, normalized_noun])

In [28]:
dim_list_1= [str(i) for i in range(512)] # all dimensions
df_clustering_1 = pd.DataFrame(columns = ["ARI"])
ari = []

for dim in dim_list_1:

    # Clustering using Kmeans
    km = KMeans(n_clusters=2, random_state=42, n_init=10)
    km.fit(normalized_both[dim].values.reshape(-1, 1))

    # Compute the Adjusted Rand Index: the closer to 1, the better
    ari.append(adjusted_rand_score(normalized_both["number"], km.labels_))

df_clustering_1["ARI"] = ari
df_clustering_1.index = dim_list_1

In [29]:
top10_1 = df_clustering_1.sort_values(by = "ARI", ascending = False)
dim_top10_1 = list(top10_1.head(10).index)
top10_1.head(10)

          ARI
310  0.117566
54   0.068252
285  0.055097
278  0.048557
81   0.046628
288  0.043262
25   0.041690
495  0.041609
172  0.037295
359  0.034606